---
title: mach3
contentful:
  content_type:'*'
---
doctype html
html
  include /partials/head.pug
  body
    header
      h1 #{title}
      ul
        li A static site builder using Gulp, Metalsmith, and Gulpsmith.
        li Preprocessing with Front Matter, Pug, and Sass.
        li Content Management with Contentful.
        li Development Server with gulp-connect and gulp-watch.
        li Deployment to Github Pages via gulp-gh-pages.
      ul 
        each val in data.entries
          li= val.sys.id
